<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">
    <welcome-file-list>
        <welcome-file>add/book.html</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>clienServiceServlet</servlet-name>
        <servlet-class>ru.korgov.webeltech.server.ClientServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>clienServiceServlet</servlet-name>
        <url-pattern>/add_book/valuesMap</url-pattern>
    </servlet-mapping>

</web-app>
